@import "./card-component.css";

.cards-grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--x-small-spacing);
  width: 100%;
}

@media (max-width: 1023px) {
  .cards-grid-layout {
    grid-template-columns: 1fr;
  }
}
