@import "./card-component.css";

.cards-grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--base-spacing);
  gap: var(--base-spacing);
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1023px) {
  .cards-grid-layout {
    grid-template-columns: 1fr;
  }
}
