/* 여기에 스타일을 구현해 주세요 */

.container {
  padding: 100px;
  border-radius: 10px;
  width: fit-content;
  margin: 40px auto 0 auto;
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  width: 368px;
}

.avatar {
  position: relative;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.status {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid white;
}
.status.online {
  background: #4cfe88;
}
.status.offline {
  background: #dbdbdb;
}