:root {
  --primary-color: #03cf5d;
  --focus-color: #24388d;
  --text-color: #121212;
  --background-color: #fff;
  --border-color: #dadada;
  --focus-background-color: #e9f0fd;
  --font-size-base: 16px;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --spacing-extra-small: 0.3125rem;
  --spacing-small: 0.625rem;
  --spacing-medium: 1.25rem;
  --input-height: 2.8125rem;
  --checkbox-size: 1.5rem;
  --border-radius: 4px;
  --responsive-width: 100%;
}

body {
  font-size: var(--font-size-base);
  font-family: "SUIT Variable", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.5;
}

.login-form {
  width: var(--responsive-width);
  max-width: calc(var(--responsive-width) - 2.5rem);
  margin: 0 auto;
  padding: var(--spacing-medium);
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-medium);
}

.input-field {
  margin-bottom: var(--spacing-medium);

  input {
    width: var(--responsive-width);
    height: var(--input-height);
    padding: 0 var(--spacing-medium);
    font-size: var(--font-size-small);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
  }

  input:focus {
    outline: 0.5px solid var(--focus-color);
    background-color: var(--focus-background-color);
  }
}

.login-button {
  width: var(--responsive-width);
  height: var(--input-height);
  margin-top: var(--spacing-medium);
  font-size: var(--font-size-medium);
  color: var(--background-color);
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #02bb54;
  }
}

.login-option {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: var(--spacing-small);
}

.hidden-checkbox {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

:focus-visible,
.hidden-checkbox:focus-visible + .toggle-switch,
.hidden-checkbox:focus-visible + .login-state-checkbox {
  outline: 2px solid var(--focus-color);
  outline-offset: 2px;
  border-radius: var(--border-radius);
}

.login-state {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.login-state-checkbox {
  display: inline-block;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  cursor: pointer;
  position: relative;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.login-state-text {
  margin-left: var(--spacing-small);
  vertical-align: middle;
}

.login-state-checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  background-image: url("../images/checkbox_unchecked.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden-checkbox:checked + .login-state-checkbox::before {
  background-image: url("../images/checkbox_checked.svg");
}

.ip-security {
  display: flex;
  align-items: center;
  font-size: var(--font-size-medium);
}

.ip-security-link {
  display: none;
}

.toggle-switch {
  display: none;
}

.toggle-status.Off,
.toggle-status.On {
  margin-left: var(--spacing-small);
}

.error-message {
  display: none;
}

input:invalid + .error-message {
  display: block;
  width: var(--responsive-width);
  padding: 0 var(--spacing-medium);
  font-size: var(--font-size-small);
  color: red;
}

@media screen and (min-width: 768px) {
  .login-form {
    max-width: 500px;
  }
  .ip-security-link {
    color: var(--text-color);
    text-decoration: none;
    margin-right: var(--spacing-extra-small);
    display: block;
  }
  .toggle-switch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 16px;
    margin: 0 var(--spacing-extra-small);
    cursor: pointer;
  }
  .toggle-status {
    display: none;
    color: var(--background-color);
    font-size: var(--font-size-medium);
  }
  .hidden-checkbox:checked + .toggle-switch .toggle-status.On {
    display: block;
    color: var(--primary-color);
    justify-self: center;
  }
  .hidden-checkbox:not(:checked) + .toggle-switch .toggle-status.Off {
    display: block;
    color: var(--text-color);
    justify-self: center;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
